
.container {
    display: inline-block;
    margin: 50px;

}

.container div {
    position: absolute;
}

.carouselImage {
    position: absolute;
    width: 800px;
    height: 400px;
}

#arrowButtonContainer {
    position: absolute;
    display: inline-block;
    width: 800px;
    height: 400px;
}

#previousButton {
    float:left;
    margin-left: 5px;
    margin-top: 175px;
}

#nextButton {
    float:right;
    margin-right: 5px;
    margin-top: 175px;
}

#indexBulletContainer {
    position: absolute;
    display: block;
    width: 800px;
    height: 400px;
    margin: 0 auto;

}